@font-face {
    font-family: SpaceMono;
    src: url("SpaceMono-Regular.ttf");
}

body {
    background-color: #f5f5f5;
    color: #222222;
    font-family: SpaceMono, monospace;
}

#main-container {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: 8px;
    margin-top: 4vh;
}

#author {
    position: absolute;
    bottom: 0;
    left: 8px;
    font-size: 12px;
}

#map {
    justify-self: center;
    height: 300px;
    width: 400px;
    border-radius: 8px;
}

#map-label {
    margin-top: -8px;
    font-size: 12px;
}

#tune-visualizer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    flex-direction: row;
}

#stop {
    display: none;

    align-self: center;
    justify-self: center;

    justify-content: center;
    align-items: center;
    text-align: center;

    width: 48px;
    height: 24px;

    color: #222222;
    background-color: #f5f5f5;

    border-width: 2px;
    border-color: #222222;
    border-radius: 4px;

    font-family: SpaceMono, monospace;
}

.bar {
    width: 10px;
    height: 30px;
    background-color: #222222;
    transition: background-color 0.1s ease, transform 0.1s ease;
    border-radius: 8px;
}

.bar.active {
    background-color: #f5f5f5;
}

#jumpscare {
    position: absolute;
    bottom: 0;
    right: 4px;
    font-size: 12px;
}
